@using FrontEnd.Core.Data
@using FrontEnd.Core.Data.Models
@using FrontEnd.Core.Services
@inject HttpClient Http

@* @if (ds != null)
{
    <p>
        @ds.Companies.Count Companies -
        @ds.Countries.Count Countries -
        @ds.Languages.Count Languages -
        @ds.Origins.Count Origins -
        @ds.People.Count People -
        @ds.Films.Count Films
    </p>
}
 *@
<div class="alert alert-secondary" style="margin-top:12px">
    
    
    <div class="input-group">
        <button class="btn btn-secondary" type="button" @onclick="Search"><i class="bi bi-search"></i></button>
        <input type="text" @bind-value="searchTitle" @onkeyup="Enter" class="form-control form-control-lg" placeholder="Enter film title" aria-label="Enter film title">

        <button class="btn btn-secondary"  type="button">Advanced</button>
    </div>
    


</div>


@if (isLoading)
{
    <span>Please Wait.. 🎥</span>
}
else
{



    <ul class="unstyled list-manager">


        @foreach (var i in results)
        {
            <li>

                <a class="nopad" href="/Home/Film/@i.FilmId"><i class="bi bi-film"></i></a>
                <em>
                    <a class="italics" href="/Home/Film/@i.FilmId">@i.Title (@i.ReleaseYear)</a>
                </em>

                @*   1979.

            Directed by <a class="nopad" href="/Search/ByDirector/7783">Ina Rarisch</a>.

            <a class="nopad" href="/Search/ByCountry/996">East Germany</a>:
        *@

                @foreach (var j in i.Countries)
                {

                    <span> - </span>
                    <a class="nopad" href="/Search/ByCountry/@j.CountryId">
                        @j.Name
                    </a>
                }

                @foreach (var j in i.Companies)
                {

                    <span> - </span>
                    <a class="nopad" href="/Search/ByCompany/@j.CompanyId">
                        @j.Name
                    </a>
                }

                .



            </li>
        }

    </ul>
}

@code
{

    private bool isLoading = true;
    private string searchTitle = "";

    private List<Film> results = new List<Film>();
    DataContext ds = null;
    private async Task Fetch()
    {
        isLoading = true;
        await Task.Delay(1);
        ds = new DataContext();
        var baseUrl = "https://international-fairy-tale-filmography.github.io/data/csv/";
        var svc = new DataSourceService(Http, baseUrl);

        await svc.FetchData(ds);
        isLoading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);

        await Fetch();
        await Search();
    }

    private async Task Search()
    {
        isLoading = true;
        await Task.Delay(5);
        if (!string.IsNullOrEmpty(searchTitle))
        {
            results = ds.Films.Where(i => i.Title.ToLowerInvariant().Contains(searchTitle)).ToList();
        }
        else
        {
            results = ds.Films.OrderBy(i => i.Title).Take(30).ToList();
        }


        isLoading = false;
    }

    public async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await Search();
        }
    }

}