@page "/"
@using FrontEnd.Core.Data
@using FrontEnd.Core.Services
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (ds != null)
{
    <p>
    @ds.Companies.Count Companies -
   @ds.Countries.Count Countries -
   @ds.Languages.Count Languages -
   @ds.Origins.Count Origins -
   @ds.Origins.Count Origins -
   @ds.Films.Count Films
    </p>
}




<a @onclick="Fetch">testing</a>
@code
{
    DataContext ds = null;
    private async Task Fetch()
    {
        ds = new DataContext();
        var baseUrl = "https://international-fairy-tale-filmography.github.io/data/csv/";
        var svc = new DataSourceService(Http, baseUrl);

        await svc.FetchData(ds);

    }


}
