@page "/"
@using FrontEnd.Core.Data
@using FrontEnd.Core.Services
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center">
    <img src="img/hugo-george-melies.png" />
    <br/>
 
</div>
<div class="d-flex justify-content-center">

    <p class="banner-credit">

        <small>
            The banner art is by <a class="ext-link" href="https://www.nikkipilgrim.com/" target="_blank">Nikki Pilgrim</a> using film stills from Martin Scorsese's <i>Hugo</i>, based on the work of Georges Méliès.
        </small>
    </p>
</div>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (ds != null)
{
    <p>
    @ds.Companies.Count Companies -
   @ds.Countries.Count Countries -
   @ds.Languages.Count Languages -
   @ds.Origins.Count Origins -
   @ds.Origins.Count Origins -
   @ds.Films.Count Films
    </p>
}




<a @onclick="Fetch">testing</a>
@code
{
    DataContext ds = null;
    private async Task Fetch()
    {
        ds = new DataContext();
        var baseUrl = "https://international-fairy-tale-filmography.github.io/data/csv/";
        var svc = new DataSourceService(Http, baseUrl);

        await svc.FetchData(ds);

    }


}
